<div class="row">
    {% for house in middle_classes %}
        <div class="col-md-4">
            <div class="card" style="width: 20rem;height: 20rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="background-color: #6F7E95;color: #FFF;">
                        <h5 class="card-title">Propriétaire: Monsieur {{house.landlord.user.last_name}}</h5>
                    </li>
                </ul>
                {% if house.house_image %}
                    <img style="height: 75%;border-radius: 10px;padding: 5px;" src="{{house.house_image.url}}" alt="image de maison">
                {% endif %}            

                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#houseModal-{{house.id}}">
                              Plus de détails
                            </button>
                        </div>
                        <div class="col-4">
                            {% if house.landlord.avatar %}
                                <img style="border-radius: 50%;" width="70%" src="{{house.landlord.avatar.url}}" alt="Image de {{house.landlord.user.username}}">
                            {% endif %}
                        </div>
                    </div>
                </div>                
            </div>

            <!-- Modal -->
            <div class="modal fade" id="houseModal-{{house.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Maison de {{house.landlord.user.last_name}} - Cel: {{house.landlord.contact}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="background-color: #fdfdfd;">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Ville/Commune: {{house.house_township}} {{house.id}}</p>
                                <p>Quartier:  {{house.house_area}}</p>
                                <p>Loyer: {{house.house_rent}} FCFA</p>
                                <p>Caution: {{house.house_deposit}} FCFA</p>
                                <p>Type: {{house.house_kind}}</p>
                                <p>{{house.house_rooms_number}} pieces</p>
                                {% if house.house_available %}
                                    <P>Disponible</P>
                                {% else %}
                                    <p>Indisponible</p>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                {% if house.house_image %}
                                    <img style="height: 200px;width: 200px;" src="{{house.house_image.url}}" alt="image de maison">
                                {% endif %}
                            </div>
                        </div>

                        <div class="text-center">
                            <a href="" style="width: 50%;" class="btn btn-primary">Allez en négociation</a>
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary">Maison suivante</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    {% endfor %}
</div>