<div class="row">
    {% for house in upper_classes %}
        <div class="col-md-4">
            <div class="card" style="border-radius: 1rem;padding: 5px;border: solid 0.1em #c5bfbf;position: relative;background-color: rgb(252, 250, 250);">
                <div class="row" style="padding: 0;margin: 0;">
                    <div class="col-3">
                        {% if house.landlord.avatar %}
                            <img style="border-radius: 50%;" width="100%" src="{{house.landlord.avatar.url}}" alt="Image de {{house.landlord.user.username}}">
                        {% else %}
                            <i class="fas fa-user-circle" style="font-size: 3rem; color: cornflowerblue;margin: 2px;"></i>
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <header>
                            <h5 class="card-title">Monsieur {{house.landlord.user.last_name}}</h5>
                            Contact: {{house.landlord.contact}}
                        </header>
                        <hr>
                    </div>
                </div>

                {% if house.house_image %}
                    <img style="height: 75%;border-radius: 10px;padding: 5px;" src="{{house.house_image.url}}" alt="image de maison">
                {% endif %}            

                <div class="card-body">
                    <div class="row">
                        <div class="col-8" style="padding: 0;margin: 0;">
                            <!-- Button trigger modal -->
                            <button style="border-radius: 1rem;" type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#houseModal-{{house.id}}">
                                <span aria-hidden="true"><i style="font-size: 1.3rem;" class="fas fa-info-circle"></i></span> Plus de détails
                            </button>
                        </div>
                        <div class="col-4" style="padding: 0;margin: 0;">
                            
                        </div>
                    </div>
                </div>                
            </div>

            <!-- Modal -->
            <div class="modal fade" id="houseModal-{{house.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Maison de {{house.landlord.user.last_name}} - Cel: {{house.landlord.contact}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="background-color: #fdfdfd;">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p><span style="font-weight: bold;">Ville/Commune: </span>{{house.house_township}} {{house.id}}</p>
                                <p><span style="font-weight: bold;">Quartier: </span>{{house.house_area}}</p>
                                <p><span style="font-weight: bold;">Loyer: </span>{{house.house_rent}} FCFA</p>
                                <p><span style="font-weight: bold;">Caution: </span>{{house.house_deposit}} FCFA</p>
                                <p><span style="font-weight: bold;">Type: </span>{{house.house_kind}}</p>
                                <p><span style="font-weight: bold;">{{house.house_rooms_number}}</span> pieces</p>
                                {% if house.house_available %}
                                    <p><span style="font-weight: bold;">En location</span></p>
                                {% endif %}
                                {% if house.house_to_sell %}
                                    <p><span style="font-weight: bold;">En vente</span></p>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                {% if house.house_image %}
                                    <img style="height: 200px;width: 200px;" src="{{house.house_image.url}}" alt="image de maison">
                                {% endif %}
                            </div>
                        </div>

                        <div class="text-center">
                            <a href="{% url 'chat:checkviewClient' house.id %}" style="width: 50%;border-radius: 1rem;" class="btn btn-outline-dark"><span style="font-weight: bold;"><i class="fas fa-handshake"></i></span> Allez en négociation</a>
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    {% endfor %}
</div>