{% extends "spaces/landlord_profile.html" %}
{% block title %}Ajout de maisons{% endblock %}

{% block navitem1 %}
<a style="color: #fff;" class="nav-link" href="{% url 'spaces:landlord_profile' user.id %}">
    <span data-feather="home"></span> ACCUEIL<span class="sr-only">(current)</span>
</a>
{% endblock navitem1 %}

{% block navitem3 %}
<a style="border-radius: 5px;" class="btn-outline-secondary nav-link active"
    href="{% url 'spaces:add_house' user.id %}">
    Ajouter Maisons
</a>
{% endblock navitem3 %}

{% block h1 %}Ajout de maisons{% endblock h1 %}

{% block content %}
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="border-radius: 1rem;padding: 5px;border: solid 0.1em #c5bfbf;">
                    <div class="card-body">

                        <form mmethod="post" action="{% url 'spaces:add_house' user.id %}"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_township.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary" id="add_house_township">
                                    {{form.house_township}}
                                </div>
                            </div>
                            <!--<div class="mb-3 row">
                            <div class="col-sm-3">
								<h6 class="mb-0">{{form.house_area.label}}</h6>
							</div>
							<div class="col-sm-9 text-secondary">
                                {{form.house_area}}
							</div>
						</div>-->
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_rent.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_rent}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_deposit.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_deposit}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_kind.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_kind}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_rooms_number.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_rooms_number}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_available.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_available}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_to_sell.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_to_sell}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_image.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_image}}
                                </div>
                            </div>
                            >>>>>>> 006b235aa7ac93ce998b4a6d9f7e5f2295784707
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card" style="border-radius: 1rem;padding: 5px;border: solid 0.1em #c5bfbf;">
                    <div class="card-body">
                        <form mmethod="post" action="{% url 'spaces:add_house' user.id %}"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_township.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_township}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_area.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_area}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_rent.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_rent}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_deposit.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_deposit}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_kind.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_kind}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_rooms_number.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_rooms_number}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_available.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_available}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_to_sell.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_to_sell}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.house_image.label}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.house_image}}
                                </div>
                            </div>
                    </div>
                    <div class="text-center"><input style="width: 50%;border-radius: 1rem;" type="submit"
                            class="btn btn-outline-dark" value="Enregistrer" /></div>
                    </form>
                </div>
            </div>
            <!--
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div class="card" style="border: solid 0.1rem #c5bfbf;border-radius: 1rem;">
                <form style="padding: 3rem;" method="post" action="{% url 'spaces:add_house' user.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label"><div style="font-weight: bold;">{{form.house_township.label}}</div></label>
                        <div class="col-sm-8">
                            {{form.house_township}}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label"><div style="font-weight: bold;">{{form.house_area.label}}</div></label>
                        <div class="col-sm-8">{{form.house_area}}</div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label"><div style="font-weight: bold;">{{form.house_rent.label}}</div></label>
                        <div class="col-sm-8">{{form.house_rent}}</div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label"><div style="font-weight: bold;">{{form.house_deposit.label}}</div></label>
                        <div class="col-sm-8">{{form.house_deposit}}</div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label"><div style="font-weight: bold;">{{form.house_kind.label}}</div></label>
                        <div class="col-sm-8">{{form.house_kind}}</div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label"><div style="font-weight: bold;">{{form.house_rooms_number.label}}</div></label>
                        <div class="col-sm-8">{{form.house_rooms_number}}</div>
                    </div>

                    <div class="text-center">
                        <div class="form-check">
                            {{form.house_available}}
                            <label for="" class="form-check-label" style="margin-right: 10%;"><div style="font-weight: bold;">{{form.house_available.label}}</div></label>

                            {{form.house_to_sell}}
                            <label for="" class="form-check-label"><div style="font-weight: bold;">{{form.house_to_sell.label}}</div></label>
                        </div>
                    </div>

                    <p class="form-control-file">
                        <div style="font-weight: bold;">{{form.house_image.label}}</div>
                        {{form.house_image}}
                    </p>

                    <div class="text-center"><input style="width: 50%;border-radius: 1rem;" type="submit" class="btn btn-outline-dark" value="Enregistrer" /></div>

                </form>
            </div>
        </div>

        <div class="col-md-3"></div>
    </div>
    -->
            <<<<<<< HEAD {% endblock %}======={% block js %} <script
                src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous">
                </script>
                {% endblock %}
                {% endblock %}
                >>>>>>> 006b235aa7ac93ce998b4a6d9f7e5f2295784707