{% extends "spaces/client_profile.html" %}

{% block title %}Préférences clients{% endblock title %}

{% block navitem1 %}
    <a style="color: #fff;" class="nav-link" href="{% url 'spaces:client_profile' user.id %}">
        <span data-feather="home"></span> ACCUEIL <span class="sr-only"></span>
    </a>
{% endblock navitem1 %}

{% block navitem3 %}
    <a style="border-radius: 5px;" class="btn-outline-secondary nav-link active" href="{% url 'spaces:client_proposal' user.id %}">
        <span data-feather="plus">(current)</span>
        Que désirez vous?
    </a>
{% endblock navitem3 %}

{% block h1 %}Attentes du client{% endblock h1 %}

{% block content %}

    <div class="row" style="padding: 10px;">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div class="card" style="border: solid 0.1rem #c5bfbf;border-radius: 1rem;">
                <form style="padding: 3rem;" method="post" action="{% url 'spaces:client_proposal' user.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label"><span style="font-weight: bold;">{{form.house_township.label}}</span></label>
                        <div class="col-sm-8">
                            {{form.house_township}}
                        </div>
                    </div>
            
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label"><span style="font-weight: bold;">{{form.house_area.label}}</span></label>
                        <div class="col-sm-8">{{form.house_area}}</div>
                    </div>
            
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label"><span style="font-weight: bold;">{{form.house_rent.label}}</span></label>
                        <div class="col-sm-8">{{form.house_rent}}</div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label"><span style="font-weight: bold;">{{form.house_deposit.label}}</span></label>
                        <div class="col-sm-8">{{form.house_deposit}}</div>
                    </div>
            
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label"><span style="font-weight: bold;">{{form.house_kind.label}}</span></label>
                        <div class="col-sm-8">{{form.house_kind}}</div>
                    </div>
            
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label"><span style="font-weight: bold;">{{form.house_rooms_number.label}}</span></label>
                        <div class="col-sm-8">{{form.house_rooms_number}}</div>
                    </div>
                    <div class="text-center"><input type="submit" style="width: 50%;" class="btn btn-primary" value="Enregistrer" /></div>
                </form>
            </div>
        </div>

        <div class="col-md-3"></div>
    </div>
    
{% endblock %}