{% extends 'spaces/client_profile.html' %}

{% block title %}Notifications Client{% endblock title %}

{% block navitem1 %}
    <a class="nav-link active" href="{% url 'spaces:client_profile' user.id %}">
        <span data-feather="home"></span> ACCUEIL <span class="sr-only"></span>
    </a>
    {% if user.client.avatar %}
        <img width="50%" src="{{user.client.avatar.url}}" alt="Image de {{user.username}}">
    {% endif %}
{% endblock navitem1 %}

{% block navitem5 %}
    <a style="border-radius: 5px;" class="btn-outline-secondary nav-link active" href="{% url 'spaces:client_notifications' user.id %}">
        <span data-feather="bar-chart-2">(current)</span>
        Notifications
    </a>
{% endblock navitem5 %}

{% block h1 %}Notifications client{% endblock h1 %}

{% block content %}
    <h1>Notifications</h1>
    <div>
        {% for house in houses %}
            <div style="padding: 5px;" class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green">
                            <div class="text-white">
                                <img src="https://img.icons8.com/bubbles/200/000000/user.png" class="img-radius" alt="User-Profile-Image">
                                <div>
                                    <h6 class="f-w-600">{{house.landlord.user.first_name}}</h6>
                                    <h6 class="f-w-600">{{house.landlord.user.last_name}}</h6>
                                    <p>Un Propriétaire</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{house.landlord.user.email}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Contact</p>
                                        <h6 class="text-muted f-w-400">{{house.landlord.contact}}</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Maison disponible à {{house.house_township}}</h6>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">Quartier</p>
                                        <h6 class="text-muted f-w-400">{{house.house_area}}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Loyer</p>
                                        <h6 class="text-muted f-w-400">{{house.house_rent}} FCFA</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Caution</p>
                                        <h6 class="text-muted f-w-400">{{house.house_deposit}} FCFA</h6>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <form method="POST" action="{% url 'chat:checkview' house.landlord.user %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary">Négocier ?</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}