{% extends "spaces/landlord_profile.html" %}

{% block title %}Mise à jour d'infos{% endblock %}

{% block navitem1 %}
    <a style="color: #fff;" class="nav-link" href="{% url 'spaces:landlord_profile' user.id %}">
        <span data-feather="home"></span> ACCUEIL<span class="sr-only">(current)</span>
    </a>
{% endblock navitem1 %}

{% block navitem2 %}
    <a style="border-radius: 5px;" class="btn-outline-secondary nav-link active" href="{% url 'spaces:edit_landlord_profile' user.id %}">
        Modifier profil
    </a>
{% endblock navitem2 %}

{% block h1 %}Modifications d'informations{% endblock h1 %}



{% block content %}
    {% if error %}
        <p>une erreur inhabituelle est survenue</p>
    {% endif %}

    <div class="row">

        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div class="card" style="border: solid 0.1rem #c5bfbf;border-radius: 1rem;">
                <form style="padding: 3rem;" method="post" action="{% url 'spaces:edit_landlord_profile' user.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div>{{form.username.label}}{% if no_username_msg %}<span style="color:yellow">inchangé</span>{% elif yes_username_msg %}<span style="color:green">changé</span>{% endif %}</div>
                        {{form.username}}
                    </div>
            
                    <div class="form-group">
                        <div>{{form.first_name.label}}{% if no_first_name_msg %}<span style="color:yellow">inchangé</span>{% elif yes_first_name_msg %}<span style="color:green">changé</span>{% endif %}</div>
                        {{form.first_name}}
                    </div>
            
                    <div class="form-group">
                        <div>{{form.last_name.label}}{% if no_last_name_msg %}<span style="color:yellow">inchangé</span>{% elif yes_last_name_msg %}<span style="color:green">changé</span>{% endif %}</div>
                        {{form.last_name}}
                    </div>
            
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div>{{form.contact.label}}{% if no_contact_msg %}<span style="color:yellow">inchangé</span>{% elif yes_contact_msg %}<span style="color:green">changé</span>{% endif %}</div>
                            {{form.contact}}
                        </div>
            
                        <div class="form-group col-md-6">
                            <div>{{form.email.label}}{% if no_email_msg %}<span style="color:yellow">inchangé</span>{% elif yes_email_msg %}<span style="color:green">changé</span>{% endif %}</div>
                            {{form.email}}
                        </div>
                    </div>
            
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div>{{form.password.label}}{% if no_pass_msg %}<span style="color:yellow">inchangé</span>{% endif %}</div>
                            {{form.password}}
                        </div>
            
            
                        <div class="form-group col-md-6">
                            <div>{{form.password_verification.label}}{% if error_pass_no_match %}<span style="color:red"> Erreur.</span>{% elif yes_pass_msg %}<span style="color:green">changé</span>{% endif %}</div>
                            {{form.password_verification}}
                        </div>
                    </div>
            
                    <p>
                        <div>{{form.avatar.label}}{% if avatar_added_err %}<span style="color:yellow">Aucun avatar ajouté.</span>{% elif avatar_added %}<span style="color:green">ajouté</span>{% endif %}</div>
                        {{form.avatar}}
                    </p>
            
                    <div class="text-center"><input class="btn btn-outline-dark" style="width: 50%;border-radius: 1rem;" type="submit" value="Modifier" /></div>
                    
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}