{% extends "spaces/client_profile.html" %}

{% block title %}Modifier profil client{% endblock title %}

{% block navitem1 %}
    <a style="color: #fff;" class="nav-link" href="{% url 'spaces:client_profile' user.id %}">
        <span data-feather="home"></span> ACCUEIL <span class="sr-only"></span>
    </a>
{% endblock navitem1 %}

{% block navitem2 %}
    <a style="border-radius: 5px;" class="btn-outline-secondary nav-link active" href="{% url 'spaces:edit_client_profile' user.id %}">
        <span data-feather="user">(current)</span>
        Modifier profil
    </a>
{% endblock navitem2 %}

{% block h1 %}Modification de profil{% endblock h1 %}

{% block content %}
    {% if error %}
        <p><strong>une erreur inhabituelle est survenue</strong></p>
    {% endif %}

    <div class="row">

        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div class="card" style="border: solid 0.1rem #c5bfbf;border-radius: 1rem;">
                <form style="padding: 3rem;" method="post" action="{% url 'spaces:edit_client_profile' user.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div style="font-weight: bold;">{{form.username.label}}</div>
                        {{form.username}}
                        {% if no_username_msg %}
                        <p><strong>Pseudo non changé</strong></p>
                        {% elif yes_username_msg %}
                        <p><strong>Pseudo changé</strong></p>
                        {% endif %}
                    </div>
            
                    <div class="form-group">
                        <div style="font-weight: bold;">{{form.first_name.label}}</div>
                        {{form.first_name}}
                        {% if no_first_name_msg %}
                        <p><strong>Prenom non changé</strong></p>
                        {% elif yes_first_name_msg %}
                        <p><strong>Prenom changé</strong></p>
                        {% endif %}
                    </div>
            
                    <div class="form-group">
                        <div style="font-weight: bold;">{{form.last_name.label}}</div>
                        {{form.last_name}}
                        {% if no_last_name_msg %}
                        <p><strong>Nom non changé</strong></p>
                        {% elif yes_last_name_msg %}
                        <p><strong>Nom changé</strong></p>
                        {% endif %}
                    </div>
            
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div style="font-weight: bold;">{{form.contact.label}}</div>
                            {{form.contact}}
                            {% if no_contact_msg %}
                            <p><strong>Contact non changé</strong></p>
                            {% elif yes_contact_msg %}
                            <p><strong>Contact changé</strong></p>
                            {% endif %}
                        </div>
            
                        <div class="form-group col-md-6">
                            <div style="font-weight: bold;">{{form.email.label}}</div>
                            {{form.email}}
                            {% if no_email_msg %}
                            <p><strong>Email non changé</strong></p>
                            {% elif yes_email_msg %}
                            <p><strong>Email changé</strong></p>
                            {% endif %}
                        </div>
                    </div>
            
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div style="font-weight: bold;">{{form.password.label}}</div>
                            {{form.password}}
                            {% if no_pass_msg %}
                            <p><strong>Mot de passe non changé</strong></p>
                            {% endif %}
                        </div>
            
            
                        <div class="form-group col-md-6">
                            <div style="font-weight: bold;">{{form.password_verification.label}}</div>
                            {{form.password_verification}}
                            {% if error_pass_no_match %}
                            <p><strong>Les mots de passes entrés ne correspondent pas.</strong></p>
                            {% elif yes_pass_msg %}
                            <p><strong>Mot de passe changé</strong></p>
                            {% endif %}
                        </div>
                    </div>
            
                    <p>
                        <div style="font-weight: bold;">{{form.avatar.label}}</div>
                        {{form.avatar}}
                        {% if avatar_added_err %}
                    <p><strong>Aucun avatar ajouté.</strong></p>
                    {% elif avatar_added %}
                    <p><strong>Avatar ajouté</strong></p>
                    {% endif %}
                    </p>
            
                    <div class="text-center"><input class="btn btn-outline-dark" style="width: 50%;border-radius: 1rem;" type="submit" value="Modifier" /></div>
                    <!--
                        <hr>
                        <div class="text-center">
                            {% if user.client.user_id != None %}
                                <a href="{% url 'spaces:client_profile' user.id %}"> Retournez à votre profil</a>
                            {% endif %}
                        </div>
                    -->
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}