{% extends "spaces/landlord_profile.html" %}
{% load static %}
{% block title %}Statistiques{% endblock %}

{% block navitem1 %}
    <a style="color: #fff;" class="nav-link" href="{% url 'spaces:landlord_profile' user.id %}">
        <span data-feather="home"></span> ACCUEIL<span class="sr-only">(current)</span>
    </a>
{% endblock navitem1 %}

{% block navitem6 %}
    <a style="border-radius: 5px;" class="btn-outline-secondary nav-link active" href="{% url 'spaces:landlord_statistics' user.id %}">
        Statistiques
    </a>
{% endblock navitem6 %}

{% block h1 %}Etudes de décision{% endblock h1 %}

{% block content %}
    <div>
        <h1>Vos statistiques.</h1>

        <div>
            <nav>
              <div class="nav nav-pills mb-3" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-markets-tab" data-toggle="tab" href="#nav-markets" role="tab" aria-controls="nav-markets" aria-selected="true">Marchés conclus</a>
                <a class="nav-link" id="nav-houses-tab" data-toggle="tab" href="#nav-houses" role="tab" aria-controls="nav-houses" aria-selected="false">Maisons occupées</a>
                <a class="nav-link" id="nav-clients-tab" data-toggle="tab" href="#nav-clients" role="tab" aria-controls="nav-clients" aria-selected="false">Clients à jour</a>
                <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-client-pas-a-jour" role="tab" aria-controls="nav-client-pas-a-jour" aria-selected="false">Clients pas à jour</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-markets" role="tabpanel" aria-labelledby="nav-markets-tab" style="border: solid 0.1rem #CFD9DE;border-radius: 1rem;padding: 1rem 0 0 1rem;">
                    <div style="overflow-y: scroll;overflow-x: hidden;height: 500px;">
                        <div class="">
                            Les marchés conclus
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-houses" role="tabpanel" aria-labelledby="nav-houses-tab" style="border: solid 0.1rem #CFD9DE;border-radius: 1rem;padding: 1rem 0 0 1rem;">
                    <div style="overflow-y: scroll;overflow-x: hidden;height: 500px;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="width: 25rem;border: solid 0.1rem #CFD9DE;border-radius: 1rem;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="fas fa-user-circle" style="font-size: 3rem; color: cornflowerblue;margin: 2px;"></i>
                                            </div>
                                            <div class="col-10">
                                                <header>Client Names occupe cette maison</header>
                                                <hr>
                                                <img style="max-height: 100%;max-width: 100%;border: solid 0.1rem #CFD9DE;border-radius: 1rem;" src="{% static '03_Houses-of-the-future-vitaglass-house.jpg' %}" alt="Card image cap">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row" style="margin: 0;padding: 0;">
                                            <a href="#" class="card-link for-chatter" style="padding: 0.5rem 1rem;"><span style="font-weight: bold;"><i class="fas fa-info-circle"></i></span> Plus de détails</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-clients" role="tabpanel" aria-labelledby="nav-clients-tab" style="border: solid 0.1rem #CFD9DE;border-radius: 1rem;padding: 1rem 0 0 1rem;">
                    <div style="overflow-y: scroll;overflow-x: hidden;height: 500px;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="width: 25rem;border: solid 0.1rem #CFD9DE;border-radius: 1rem;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="fas fa-user-circle" style="font-size: 3rem; color: cornflowerblue;margin: 2px;"></i>
                                            </div>
                                            <div class="col-10">
                                                <header>Client Names</header>
                                                <hr>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row" style="margin: 0;padding: 0;">
                                            <a href="#" class="card-link for-chatter" style="padding: 0.5rem 1rem;"><span style="font-weight: bold;"><i class="fas fa-comments"></i></span> Chatter</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-client-pas-a-jour" role="tabpanel" aria-labelledby="nav-client-pas-a-jour-tab" style="border: solid 0.1rem #CFD9DE;border-radius: 1rem;padding: 1rem 0 0 1rem;">
                    <div style="overflow-y: scroll;overflow-x: hidden;height: 500px;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="width: 25rem;border: solid 0.1rem #CFD9DE;border-radius: 1rem;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="fas fa-user-circle" style="font-size: 3rem; color: cornflowerblue;margin: 2px;"></i>
                                            </div>
                                            <div class="col-10">
                                                <header>Client Names</header>
                                                <hr>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row" style="margin: 0;padding: 0;">
                                            <a href="#" class="card-link for-chatter" style="padding: 0.5rem 1rem;"><span style="font-weight: bold;"><i class="fas fa-comments"></i></span> Chatter</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}