{% extends "spaces/landlord_profile.html" %}

{% block title %}notifications{% endblock %}

{% block navitem1 %}
    <a class="nav-link active" href="{% url 'spaces:landlord_profile' user.id %}">
        <span data-feather="home"></span> ACCUEIL<span class="sr-only">(current)</span>
    </a>
    {% if user.landlord.avatar %}
        <img width="50%" src="{{user.landlord.avatar.url}}" alt="Image de {{user.username}}">
    {% endif %}
{% endblock navitem1 %}

{% block navitem7 %}
    <a style="border-radius: 5px;" class="btn-outline-secondary nav-link active" href="{% url 'spaces:landlord_notifications' user.id %}">
        <span data-feather="bell">(current)</span>
        Notifications
    </a>
{% endblock navitem7 %}

{% block h1 %}Vos notifications{% endblock h1 %}

{% block content %}
    <div>
        <h1>Nous vous informerons si il y'a du nouveau</h1>
    </div>
{% endblock %}