{% extends "spaces/landlord_profile.html" %}
{% block title %}voir maisons{% endblock %}

{% block navitem1 %}
    <a style="color: #fff;" class="nav-link" href="{% url 'spaces:landlord_profile' user.id %}">
        <span data-feather="home"></span> ACCUEIL<span class="sr-only">(current)</span>
    </a>
{% endblock navitem1 %}

{% block navitem4 %}
    <a style="border-radius: 5px;" class="btn-outline-secondary nav-link active" href="{% url 'spaces:landlord_houses' user.id %}">
        Voir ses Maisons
    </a>
{% endblock navitem4 %}

{% block h1 %}Consultations de biens{% endblock h1 %}

{% block content %}
<div>
    {% if no_house_err %}
        <p>Vous n'avez aucune maison pour l'instant</p>
    {% endif %}

    <div style="border: solid 0.1rem #CFD9DE;border-radius: 1rem;padding: 1rem 0 0 1rem;">
        <div style="overflow-y: scroll;overflow-x: hidden;height: 600px;">
            <div class="row">
                {% for house in houses %}
                    <div class="col-md-4">
                        <div class="card bg-light mb-3" style="border-radius: 1rem;height: 300px;padding: 5px;border: solid 0.1em #c5bfbf;">
                            <div class="row">
                                <div class="col-10"></div>
                                <div class="col-2">
                                    <a href="#" data-toggle="modal" data-target="#For-delete-{{house.id}}" class="card-link">X</a>
                                </div>
                            </div>
                            <hr>
                            {% if house.house_image %}
                                <img style="height: 200px;border-radius: 1rem;" src="{{house.house_image.url}}" alt="image de maison">
                            {% endif %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#houseModal-{{house.id}}">
                                            Plus de détails
                                        </button>
                                    </div>
                                    <div class="col-3" style="font-size: 20px;">{% if house.house_available %} À louer {% endif %}</div>
                                    <div class="col-4">{% if house.house_to_sell %} En vente {% endif %}</div>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="For-delete-{{house.id}}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content" style="border-radius: 1rem;width: 100%;">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalLabel">Vous allez suprime cette maison.</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="alert alert-danger" role="alert">
                                                Voulez-vous vraiment surprimer cette maison?
                                            </div>
                                            <div class="modal-footer">
                                                <div class="text-center"><a href="{% url 'spaces:landlord_delete_house' house.id %}" class="btn btn-danger">Suprimer</a></div>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="houseModal-{{house.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content" style="border-radius: 1rem;">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Maison</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body" style="background-color: #fdfdfd;">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p><span style="font-weight: bold;">Ville/Commune: </span>{{house.house_township}} {{house.id}}</p>
                                                    <p><span style="font-weight: bold;">Quartier: </span>{{house.house_area}}</p>
                                                    <p><span style="font-weight: bold;">Loyer: </span>{{house.house_rent}} FCFA</p>
                                                    <p><span style="font-weight: bold;">Caution: </span>{{house.house_deposit}} FCFA</p>
                                                    <p><span style="font-weight: bold;">Type: </span>{{house.house_kind}}</p>
                                                    <p><span style="font-weight: bold;">{{house.house_rooms_number}} </span>pieces</p>
                                                    {% if house.house_available %}
                                                        <P><span style="font-weight: bold;">À louer</span></P>
                                                    {% endif %}
                                                    {% if house.house_to_sell %}
                                                        <p><span style="font-weight: bold;">En vente</span></p>
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-6">
                                                    {% if house.house_image %}
                                                        <img style="max-height: 100%;max-width: 100%;" src="{{house.house_image.url}}" alt="image de maison">
                                                    {% endif %}
                                                </div>
                                            </div>
        
                                            <div class="text-center"><a href="{% url 'spaces:edit_house_founded' house.id %}" style="width: 50%;" class="btn btn-primary">Editez cette maison</a></div>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        <button type="button" class="btn btn-primary">Maison suivante</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}