{% extends "spaces/landlord_profile.html" %}
{% block title %}Voir clients{% endblock %}
{% block navitem1 %}
<a class="nav-link active" href="{% url 'spaces:landlord_profile' user.id %}">
    <span data-feather="home"></span> ACCUEIL<span class="sr-only">(current)</span>
</a>
{% if user.landlord.avatar %}
<img width="50%" src="{{user.landlord.avatar.url}}" alt="Image de {{user.username}}">
{% endif %}
{% endblock navitem1 %}

{% block navitem5 %}
<a style="border-radius: 5px;" class="btn-outline-secondary nav-link active"
    href="{% url 'spaces:landlord_clients' user.id %}">
    <span data-feather="users">(current)</span>
    Clients
</a>
{% endblock navitem5 %}
{% block h1 %}Consultations de clients{% endblock h1 %}

{% block content %}
<div>
    {% if no_client_err %}
    <p>Vous n'avez aucun client pour l'instant</p>
    <p>Ici est la page ou seront affichés tous les clients qui résident dans vos maisons actuelles</p>
    <p>Si vous n'avez aucun client affiché c'est parceque vous n'avez pas encore négocié avec un client sur la
        plateforme</p>
    <p>Voici comment s'y prender en quelques etapes
    <ol>
        <li>
            allez à notifications
        </li>
        <li>
            Voir si vous avez des clients
            si oui:
            <ol>
                <li>
                    appuyez sur le bouton négocier
                </li>
                <li>
                    appuyez sur le bouton discuter
                </li>
                <li>
                    Envoyez des messages au client
                </li>
                <li>
                    Si vous vous etes entendus appuyez sur le bouton succes
                </li>
            </ol>
            si non:
            Attendez vos notifications , ajoutez d'autres maisons ou rechercher des potentiels intéressés de vos types
            de maisons
        </li>
    </ol>
    </p>
    {% else %}
    <table class="table table-borderless table-dark">
        <thead>
            <tr>
                <th scope="col">{{current_year}}</th>
                <th scope="col">Janvier</th>
                <th scope="col">Fevrier</th>
                <th scope="col">Mars</th>
                <th scope="col">Avril</th>
                <th scope="col">Mai</th>
                <th scope="col">Juin</th>
                <th scope="col">Juillet</th>
                <th scope="col">Aout</th>
                <th scope="col">Septembre</th>
                <th scope="col">Octobre</th>
                <th scope="col">Novembre</th>
                <th scope="col">Decembre</th>
            </tr>
        </thead>
        <tbody>
            {% for client in landlord_clients %}

            <tr>
                <th scope="row">{{client.user.username}}</th>
                <td><input type="checkbox" value="" id="janCheck"></td>
                <td><input type="checkbox" value="" id="febCheck"></td>
                <td><input type="checkbox" value="" id="marCheck"></td>
                <td><input type="checkbox" value="" id="aprCheck"></td>
                <td><input type="checkbox" value="" id="mayCheck"></td>
                <td><input type="checkbox" value="" id="junCheck"></td>
                <td><input type="checkbox" value="" id="julCheck"></td>
                <td><input type="checkbox" value="" id="auCheck"></td>
                <td><input type="checkbox" value="" id="sepCheck"></td>
                <td><input type="checkbox" value="" id="octCheck"></td>
                <td><input type="checkbox" value="" id="novCheck"></td>
                <td><input type="checkbox" value="" id="decCheck"></td>
            </tr>


            {% endfor %}

        </tbody>
    </table>
    {% endif %}

</div>
{% endblock %}