{% extends "spaces/landlord_profile.html" %}
{% block title %}Voir clients{% endblock %}

{% block linkRel1 %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
     integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock linkRel1 %}

{% block navitem1 %}
<a style="color: #fff;" class="nav-link" href="{% url 'spaces:landlord_profile' user.id %}">
    <span data-feather="home"></span> ACCUEIL<span class="sr-only">(current)</span>
</a>
{% endblock navitem1 %}

{% block navitem5 %}
<a style="border-radius: 5px;" class="btn-outline-secondary nav-link active" href="{% url 'spaces:landlord_clients' %}">
    Clients
</a>
{% endblock navitem5 %}

{% block h1 %}Consultations de clients{% endblock h1 %}

{% block content %}
<div>
    <div>
        <nav>
          <div class="mb-3 nav nav-pills" id="nav-tab" role="tablist">
            <a class="nav-link" id="nav-tuto-tab" data-toggle="tab" href="#nav-tuto" role="tab" aria-controls="nav-tuto" aria-selected="true">Tuto</a>
            <a class="nav-link active" id="nav-clients-tab" data-toggle="tab" href="#nav-clients" role="tab" aria-controls="nav-clients" aria-selected="false">Clients</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-tuto" role="tabpanel" aria-labelledby="nav-tuto-tab"  style="overflow-y: scroll;overflow-x: hidden;max-height: 450px;">
                <p>Vous n'avez aucun client pour l'instant</p>
                <p>Ici est la page ou seront affichés tous les clients qui résident dans vos maisons actuelles</p>
                <p>Si vous n'avez aucun client affiché c'est parceque vous n'avez pas encore négocié avec un client sur la plateforme</p>
                <p>
                    Voici comment s'y prender en quelques etapes
                    <ol>
                        <li>
                            allez à notifications
                        </li>
                        <li>
                            Voir si vous avez des clients
                            si oui:
                            <ol>
                                <li>
                                    appuyez sur le bouton négocier
                                </li>
                                <li>
                                    appuyez sur le bouton discuter
                                </li>
                                <li>
                                    Envoyez des messages au client
                                </li>
                                <li>
                                    Si vous vous etes entendus appuyez sur le bouton succes
                                </li>
                            </ol>
                            si non:
                            Attendez vos notifications , ajoutez d'autres maisons ou rechercher des potentiels intéressés de vos types
                            de maisons
                        </li>
                    </ol>
                </p>
            </div>
            <div class="tab-pane fade show active" id="nav-clients" role="tabpanel" aria-labelledby="nav-clients-tab" style="border: solid 0.1rem #CFD9DE;border-radius: 1rem;padding: 1rem 0 0 1rem;">
                <div style="overflow-y: scroll;overflow-x: hidden;height: 500px;">
                
                    <div class="container">
                    <div class="row flex-lg-nowrap">

                    <div class="col">
                        <div class="px-3 mb-3 e-tabs">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active" href="#">Users</a></li>
                        </ul>
                        </div>

                        <div class="row flex-lg-nowrap">
                        <div class="mb-3 col">
                            <div class="e-panel card">
                            <div class="card-body">
                                <div class="card-title">
                                <h6 class="mr-2"><span>Users</span><small class="px-1">Be a wise leader</small></h6>
                                </div>
                                <div class="e-table">
                                <div class="mt-3 table-responsive table-lg">
                                    <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                        <th class="align-top">
                                            Pseudo
                                        </th>
                                        <th>Nom de famille</th>
                                        <th class="max-width">Prenoms</th>
                                        <th class="sortable">Date d'entrée</th>
                                        <th> Date de sortie </th>
                                        <th>Details du contrat</th>
                                        </tr>
                                    </thead>
                                    {% for deal in deals %}
                                    <tbody>
                                        <tr>
                                        <td class="align-middle">
                                            {{deal.client.user.username}}
                                        </td>
                                        <td class="text-center align-middle">
                                            <div class="align-top bg-light d-inline-flex justify-content-center align-items-center" style="width: 35px; height: 35px; border-radius: 3px;">
                                                {{deal.client.user.last_name}}
                                            </div>
                                        </td>
                                        <td class="align-middle text-nowrap">{{deal.client.user.first_name}}</td>
                                        <td class="align-middle text-nowrap"><span></span></td>
                                        <td class="text-center align-middle"></td>
                                        <td class="text-center align-middle">
                                            <div class="align-top btn-group">
                                                <button class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal" data-target="#user-form-modal">Clique ici</button>
                                                <button class="btn btn-sm btn-outline-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                                            </div>
                                        </td>
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                    </table>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <ul class="mt-3 mb-0 pagination">
                                    <li class="disabled page-item"><a href="#" class="page-link">‹</a></li>
                                    <li class="active page-item"><a href="#" class="page-link">1</a></li>
                                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                                    <li class="page-item"><a href="#" class="page-link">›</a></li>
                                    <li class="page-item"><a href="#" class="page-link">»</a></li>
                                    </ul>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="mb-3 col-12 col-lg-3">
                            <div class="card">
                            <div class="card-body">
                                <div class="text-center px-xl-3">
                                <button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#user-form-modal">New User</button>
                                </div>
                                <hr class="my-3">
                                <div class="e-navlist e-navlist--active-bold">
                                <ul class="nav">
                                    <li class="nav-item active"><a href="" class="nav-link"><span>All</span>&nbsp;<small>/&nbsp;32</small></a></li>
                                    <li class="nav-item"><a href="" class="nav-link"><span>Active</span>&nbsp;<small>/&nbsp;16</small></a></li>
                                    <li class="nav-item"><a href="" class="nav-link"><span>Selected</span>&nbsp;<small>/&nbsp;0</small></a></li>
                                </ul>
                                </div>
                                <hr class="my-3">
                                <div>
                                <div class="form-group">
                                    <label>Date from - to:</label>
                                    <div>
                                    <input id="dates-range" class="form-control flatpickr-input" placeholder="01 Dec 17 - 27 Jan 18" type="text" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Search by Name:</label>
                                    <div><input class="form-control w-100" type="text" placeholder="Name" value=""></div>
                                </div>
                                </div>
                                <hr class="my-3">
                                <div class="">
                                <label>Status:</label>
                                <div class="px-2">
                                    <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="user-status" id="users-status-disabled">
                                    <label class="custom-control-label" for="users-status-disabled">Disabled</label>
                                    </div>
                                </div>
                                <div class="px-2">
                                    <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="user-status" id="users-status-active">
                                    <label class="custom-control-label" for="users-status-active">Active</label>
                                    </div>
                                </div>
                                <div class="px-2">
                                    <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="user-status" id="users-status-any" checked="">
                                    <label class="custom-control-label" for="users-status-any">Any</label>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>

                        <!-- User Form Modal -->
                        <div class="modal fade" role="dialog" tabindex="-1" id="user-form-modal">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Create User</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="py-1">
                                <form class="form" novalidate="">
                                    <div class="row">
                                    <div class="col">
                                        <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                            <label>Full Name</label>
                                            <input class="form-control" type="text" name="name" placeholder="John Smith" value="John Smith">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                            <label>Username</label>
                                            <input class="form-control" type="text" name="username" placeholder="johnny.s" value="johnny.s">
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                            <label>Email</label>
                                            <input class="form-control" type="text" placeholder="user@example.com">
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row">
                                        <div class="mb-3 col">
                                            <div class="form-group">
                                            <label>About</label>
                                            <textarea class="form-control" rows="5" placeholder="My Bio"></textarea>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="mb-3 col-12 col-sm-6">
                                        <div class="mb-2"><b>Change Password</b></div>
                                        <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                            <label>Current Password</label>
                                            <input class="form-control" type="password" placeholder="••••••">
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                            <label>New Password</label>
                                            <input class="form-control" type="password" placeholder="••••••">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                            <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                            <input class="form-control" type="password" placeholder="••••••"></div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 col-12 col-sm-5 offset-sm-1">
                                        <div class="mb-2"><b>Keeping in Touch</b></div>
                                        <div class="row">
                                        <div class="col">
                                            <label>Email Notifications</label>
                                            <div class="px-2 custom-controls-stacked">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="notifications-blog" checked="">
                                                <label class="custom-control-label" for="notifications-blog">Blog posts</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
                                                <label class="custom-control-label" for="notifications-news">Newsletter</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="notifications-offers" checked="">
                                                <label class="custom-control-label" for="notifications-offers">Personal Offers</label>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <button class="btn btn-primary" type="submit">Save Changes</button>
                                    </div>
                                    </div>
                                </form>

                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    </div>
                  <!--  <div class="row">
                        {% for deal in deals %}
                        <div class="col-md-4">
                            <div class="card" style="border: solid 0.1rem #CFD9DE;border-radius: 2rem;">
                                <div class="card-body" style="margin: 0.5rem;padding: 0.5px;">
                                    <div class="row" style="margin: 0;padding: 0;">
                                        <div class="col-3">
                                            {% if deal.client.avatar %}
                                                <img style="border-radius: 50%;" width="90px" height="90px" src="{{deal.client.avatar.url}}" alt="Image de {{deal.client.user.username}}">
                                            {% else %}
                                                <i class="fas fa-user-circle" style="font-size: 6rem; color: cornflowerblue;padding: 2px;"></i>
                                            {% endif %}
                                        </div>
                                        <div class="col-9" style="position: relative;">
                                            <header>Client Names: {{deal.client.user.first_name}} {{deal.client.user.last_name}}</header>
                                            <hr>
                                            <p style="margin: 0;padding: 0;">
                                                {% if deal.house.house_image %}
                                                <img style="max-width: 100%;max-height: 75%;border-radius: 10px;padding: 5px;" src="{{deal.house.house_image.url}}" alt="image de maison">
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="margin: 0;padding: 0;">
                                        <a href="{% url 'spaces:aborted' deal.id %}" class="btn btn-outline-danger" style="padding: 0.5rem 1rem;"><span style="font-weight: bold;"><i class="fas fa-thumbs-down"></i></span> Avorter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
{% endblock %}