{% extends "spaces/landlord_profile.html" %}
{% block title %}Voir clients{% endblock %}

{% block navitem1 %}
<a style="color: #fff;" class="nav-link" href="{% url 'spaces:landlord_profile' user.id %}">
    <span data-feather="home"></span> ACCUEIL<span class="sr-only">(current)</span>
</a>
{% endblock navitem1 %}

{% block navitem5 %}
<a style="border-radius: 5px;" class="btn-outline-secondary nav-link active" href="{% url 'spaces:landlord_clients' %}">
    Clients
</a>
{% endblock navitem5 %}

{% block h1 %}Consultations de clients{% endblock h1 %}

{% block content %}
<div>
    <div>
        <nav>
          <div class="mb-3 nav nav-pills" id="nav-tab" role="tablist">
            <a class="nav-link" id="nav-tuto-tab" data-toggle="tab" href="#nav-tuto" role="tab" aria-controls="nav-tuto" aria-selected="true">Tuto</a>
            <a class="nav-link active" id="nav-clients-tab" data-toggle="tab" href="#nav-clients" role="tab" aria-controls="nav-clients" aria-selected="false">Clients</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-tuto" role="tabpanel" aria-labelledby="nav-tuto-tab"  style="overflow-y: scroll;overflow-x: hidden;max-height: 450px;">
                <p>Vous n'avez aucun client pour l'instant</p>
                <p>Ici est la page ou seront affichés tous les clients qui résident dans vos maisons actuelles</p>
                <p>Si vous n'avez aucun client affiché c'est parceque vous n'avez pas encore négocié avec un client sur la plateforme</p>
                <p>
                    Voici comment s'y prender en quelques etapes
                    <ol>
                        <li>
                            allez à notifications
                        </li>
                        <li>
                            Voir si vous avez des clients
                            si oui:
                            <ol>
                                <li>
                                    appuyez sur le bouton négocier
                                </li>
                                <li>
                                    appuyez sur le bouton discuter
                                </li>
                                <li>
                                    Envoyez des messages au client
                                </li>
                                <li>
                                    Si vous vous etes entendus appuyez sur le bouton succes
                                </li>
                            </ol>
                            si non:
                            Attendez vos notifications , ajoutez d'autres maisons ou rechercher des potentiels intéressés de vos types
                            de maisons
                        </li>
                    </ol>
                </p>
            </div>
            <div class="tab-pane fade show active" id="nav-clients" role="tabpanel" aria-labelledby="nav-clients-tab" style="border: solid 0.1rem #CFD9DE;border-radius: 1rem;padding: 1rem 0 0 1rem;">
                <div style="overflow-y: scroll;overflow-x: hidden;height: 500px;">
                    <div class="row">
                        {% for deal in deals %}
                        <div class="col-md-4">
                            <div class="card" style="border: solid 0.1rem #CFD9DE;border-radius: 2rem;">
                                <div class="card-body" style="margin: 0.5rem;padding: 0.5px;">
                                    <div class="row" style="margin: 0;padding: 0;">
                                        <div class="col-3">
                                            {% if deal.client.avatar %}
                                                <img style="border-radius: 50%;" width="90px" height="90px" src="{{deal.client.avatar.url}}" alt="Image de {{deal.client.user.username}}">
                                            {% else %}
                                                <i class="fas fa-user-circle" style="font-size: 6rem; color: cornflowerblue;padding: 2px;"></i>
                                            {% endif %}
                                        </div>
                                        <div class="col-9" style="position: relative;">
                                            <header>Client Names: {{deal.client.user.first_name}} {{deal.client.user.last_name}}</header>
                                            <hr>
                                            <p style="margin: 0;padding: 0;">
                                                {% if deal.house.house_image %}
                                                <img style="max-width: 100%;max-height: 75%;border-radius: 10px;padding: 5px;" src="{{deal.house.house_image.url}}" alt="image de maison">
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="margin: 0;padding: 0;">
                                        <a href="{% url 'spaces:aborted' deal.id %}" class="btn btn-outline-danger" style="padding: 0.5rem 1rem;"><span style="font-weight: bold;"><i class="fas fa-thumbs-down"></i></span> Avorter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}