{% extends 'spaces/base.html' %}
{% load static %}
{% block title %}Connexion{% endblock %}

{% block navbarbrand1 %}
    <a class="navbar-brand" id="navbarbrand1" href="#">Nouveautés</a>
{% endblock %}

{% block navlink1 %}
    <a class="nav-link" href="#" id="navlink1">Forum<span class="sr-only">(current)</span></a>
{% endblock %}

{% block navlink2 %}
    <a class="nav-link" href="{% url 'spaces:signup' %}" id="navlink2">S'enregistrer</a>
{% endblock %}

{% block navlinkdisabled1 %}
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" id="navlinkdisabled1">Se connecter</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-1 col-sm-2 col-md-3"></div>
    <div class="col-10 col-sm-8 col-md-6">
        <div class="card" style="padding: 1rem;border-radius: 1rem;background-color: #F6F8FA;margin: 1rem 4rem;">
            <div class="text-center">
                <i class="fas fa-user-circle" style="font-size: 4rem; color: cornflowerblue;padding: 2px;"></i>
                <p id="">
                    Connectez-vous!
                </p> 
            </div>
            {% if error %}
                <p>
                    <strong>Utilisateur inconnu ou mauvais de mot de passe.</strong>
                </p>
            {% endif %}
            <hr>
            <form method="post" action="{% url 'spaces:signin' %}">
                {% csrf_token %}
                <div style="padding: 0rem 2rem" class="form-check">
                    <div class="">
                        <p style="font-weight: bold;">
                            <!--{{form.username.label}}-->
                            {{form.username}}
                            <small id="emailHelp" class="form-text text-muted">
                                Nous ne partagerons pas votre email avec quelqu'un d'autre.
                            </small>
                        </p>
                    </div>

                    <div class="form-group">
                        <p style="font-weight: bold;">
                            <!--{{form.password.label}}--> 
                            {{form.password}}
                        </p>
                        <p class="d-flex justify-content-end" style="font-size: 12px;"><a href="#">Mot de passe oublié?</a></p>
                    </div>

                    <div class="form-group text-center">
                        <div class="form-check form-check-inline">
                            <p style="font-weight: bold;font-size: 12px;">
                                {{form.client.label}}
                                {{form.client}}
                            </p>

                            <p style="font-weight: bold;font-size: 12px;">
                                {{form.landlord.label}}
                                {{form.landlord}}
                            </p>
                        </div>
                    </div>

                    <button style="width: 100%;" type="submit" class="btn btn-primary" name="Connectez vous" value="Connectez vous">
                        Connectez-vous
                    </button>
                    <hr>
                    <p style="font-weight: bold;font-size: 10px;" class="text-center">Nouveau sur LOGEIQUE? <a href="{% url 'spaces:signup' %}">Créer un compte ici</a></p>
                </div>
            </form>

            {% if client_user.is_authenticated %}
                <p>
                    Vous êtes connecté client {{ client_user.username }} !
                </p>
                <P>
                    <a href="{% url 'spaces:client_profile' client_user.id %}" class="btn btn-lg btn-secondary">Allez à votre compte</a>
                </P>
            {% elif landlord_user.is_authenticated %}
                <p>
                    Vous êtes connecté propietaire {{ landlord_user.username }}!
                </p>
                <P>
                    <a href=" {% url 'spaces:landlord_profile' landlord_user.id %}" class="btn btn-lg btn-secondary">
                        Allez à votre compte
                    </a>
                </P>
            {% endif %}
        </div>
    </div>
    <div class="col-1 col-sm-2 col-md-3"></div>
</div>
{% endblock %}

{% block footer %}
    <footer class="text-center" style="font-weight: bold;padding-top: 2rem;">
        <div class="inner">
            <span>Habitat , Habitation , logement © 2021</span>
        </div>
    </footer>
{% endblock %}