{% block content %}
{% include "chat/html_css/discuss_css.html" %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>


{% block display %}
<div id="display" class="chat-board">

  <!-- <div class="container darker">
    <b>Tom</b><p>Hello Everyone, How Are You Guys Doing?</p>
    <span class="time-left">20th, April 2021</span>
  </div> -->RENDER !!!

</div>
{% endblock display %}

<div>
  {% block form %}
  <form id="post-form" method="POST" action="{% url 'chat:send' user.id room.id %}">
    {% csrf_token %}
    <input type="text" name="message" id="message" />
    <input type="submit" value="Send" />
  </form>
  {% endblock form %}
</div>

<script type="text/javascript">
  document.getElementById("#post-form").addEventListener("submit", function (event) {
    event.preventDefault();
  }, false);
</script>

{% endblock %}
