{% load static %}

{% block display %}
  Discussion dans {{ room }}

  <div class="chat-board">

    <!-- <div class="container darker">
      <b>Tom</b><p>Hello Everyone, How Are You Guys Doing?</p>
      <span class="time-left">20th, April 2021</span>
    </div> -->
    <div id='chat-items' class="mycontainer darker" style="overflow-y: scroll;overflow-x: hidden;max-height: 450px;">
      {% for message in messages %}
        {% if message.user == request.user %}
          <div class='d-flex justify-content-end'>
            <div class="mycontainer" style="background-color: #303841;color: #fff;border-radius: 20px 20px 0 20px;">
              <p style="font-size: 15px;">{{message.value}}</p>
              <span class="time-right" style="font-size: 10px;">{{message.date}}</span>
            </div>
          </div>
        {% else %}
          <div class="d-flex justify-content-start">
            <div class="mycontainer" style="background-color: #303841;color: #fff;border-radius: 0 20px 20px 20px;">
              <p style="font-size: 15px;">{{message.value}}</p>
              <span class="time-right" style="font-size: 10px;">{{message.date}}</span>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock display %}

<div>
  {% block form %}
  <form id="form" method="POST">
    {% csrf_token %}
    <input type="text" name="message" id="chat-message-input" />
    <input type="submit" value="Send" id="chat-message-submit" class="btn" />
  </form>
  {% endblock form %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="{% static 'js/moment-with-locales.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript">
  moment().localeData();
  //console.log(window.location);
  var fromData = $("#form")
  var msgInput = $("#chat-message-input")
  var chatHolder = $('#chat-items')
  var loc = window.location
  var wsStart = 'ws://'
  if (loc.protocol == 'https:') {
    wsStart = 'wss://'
  }

  var endpoint = wsStart + loc.host + loc.pathname
  //console.log(endpoint)

  var socket = new WebSocket(endpoint)

  socket.onmessage = function(e) {
    var chatDataMsg = JSON.parse(e.data)

    if (chatDataMsg.username === "{{request.user.username}}") {
      chatHolder.append(
        "<div class='d-flex justify-content-end'><div  class='mycontainer' style='background-color: #303841;color: #fff;border-radius: 20px 20px 0 20px;'>" + "<p style='font-size: 15px;'>" + chatDataMsg.message + "</p>" + "<span class='time-right'>" + moment().format('MMMM Do YYYY, H:mm:ss') + "</span></div></div>"
      )
    } else {
      chatHolder.append(
        "<div  class='mycontainer' style='background-color: #303841;color: #fff;border-radius: 0 20px 20px 20px;'>" + "<p style='font-size: 15px;'>" + chatDataMsg.message + "</p>" + "<span class='time-right'>" + moment().format('MMMM Do YYYY, H:mm:ss') + "</span></div>"
      )
    }
  }

  socket.onopen = function(e) {
    console.log("Open: ", e)
    fromData.submit(function(event){
      event.preventDefault()
      var msgText = msgInput.val()
      var finalData  = {
        'message': msgText
      }
      socket.send(JSON.stringify(finalData))
      fromData[0].reset()
    })
  }

  socket.onerror = function(e) {
    console.log("Error: ", e)
  }

  socket.onclose = function(e) {
    console.log("Close: ", e)
  }

</script>