{% load static %}

{% block display %}
  <div style="padding: 0 5px;" class="d-flex justify-content-between">
    <div>Discussion dans {{ room }}</div>

    <div>
      {% if request.user.landlord %}
        <input type="button" name="" value="Marché Conclus" class="btn btn-primary">
      {% endif %}
    </div>
  </div>

  <div class="chat-board">
    <div id='chat-items' class="mycontainer darker" style="overflow-y: scroll;overflow-x: hidden;max-height: 450px;background: #f0f0f0;border: none;">
      {% for message in messages %}
        {% if message.user == request.user %}
          <div class='d-flex justify-content-end'>
            <div class="mycontainer" style="background-color: #0069E9;color: #fff;border-radius: 20px 0 20px 20px;">
              <p style="font-size: 15px;">{{message.value}}</p>
              <span class="time-right text-white" style="font-size: 10px;">{{message.date}}</span>
            </div>
          </div>
        {% else %}
          <div class="d-flex justify-content-start">
            <div class="mycontainer" style="background-color: #303841;color: #fff;border-radius: 0 20px 20px 20px;">
              <p style="font-size: 15px;">{{message.value}}</p>
              <span class="time-right" style="font-size: 10px;">{{message.date}}</span>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock display %}

{% block form %}
  <form id="form" method="POST">
    {% csrf_token %}
    <input type="text" name="message" id="chat-message-input"/>
    <input type="submit" value="Envoyez" id="chat-message-submit" class="btn btn-primary"/>
  </form>
{% endblock form %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="{% static 'js/moment-with-locales.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="{% static 'js/moment.min.js' %}"></script>

<script type="text/javascript">
  moment().localeData();
  var messageBody = document.querySelector('#chat-items');
  messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
  $('#chat-items').scrollTop($('#chat-items')[0].scrollHeight);
  //console.log(window.location);
  var fromData = $("#form")
  var msgInput = $("#chat-message-input")
  var chatHolder = $('#chat-items')
  var loc = window.location
  var wsStart = 'ws://'
  if (loc.protocol == 'https:') {
    wsStart = 'wss://'
  }

  function scrollToEnd(){
    var chatList = document.getElementById("chat-items");
    chatList.scrollTop = chatList.scrollHeight;
  }

  var endpoint = wsStart + loc.host + loc.pathname
  //console.log(endpoint)

  var socket = new WebSocket(endpoint)

  socket.onmessage = function(e) {
    var chatDataMsg = JSON.parse(e.data)

    if (chatDataMsg.username === "{{request.user.username}}") {
      chatHolder.append(
        "<div class='d-flex justify-content-end'><div  class='mycontainer' style='background-color: #0069E9;color: #fff;border-radius: 20px 0 20px 20px;'>" + "<p style='font-size: 15px;'>" + chatDataMsg.message + "</p>" + "<span class='time-right text-white'>" + moment().format('MMMM Do YYYY, H:mm:ss') + "</span></div></div>"
      )
    } else {
      chatHolder.append(
        "<div class='d-flex justify-content-start'><div  class='mycontainer' style='background-color: #303841;color: #fff;border-radius: 0 20px 20px 20px;'>" + "<p style='font-size: 15px;'>" + chatDataMsg.message + "</p>" + "<span class='time-right'>" + moment().format('MMMM Do YYYY, H:mm:ss') + "</span></div></div>"
      )
    }

    scrollToEnd();
  }

  socket.onopen = function(e) {
    console.log("Open: ", e)
    fromData.submit(function(event){
      event.preventDefault()
      var msgText = msgInput.val()
      var finalData  = {
        'message': msgText
      }
      socket.send(JSON.stringify(finalData));
      msgInput.val('');
      fromData[0].reset();
    })
  }

  socket.onerror = function(e) {
    console.log("Error: ", e)
  }

  socket.onclose = function(e) {
    console.log("Close: ", e)
  }
  /*
  $(document).ready(function(e){
    $("#chat-message-input").emojioneArea({
      pickerPosition: "top",
      inline: true
    });
    $("#chat-message-submit").click(function(e) {
        e.preventDefault();
        $(".emojionearea-editor").html('');

    });
    //$("#cchat-message-input").data("emojioneArea").setText('');
  });
  */
</script>