<style>
    input[type=text]{
        word-break: break-word;
        overflow: auto;
    }

    input[type=text],
    select {
        width: 100%;
        border: 1rem solid rgb(235, 226, 226);
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    input[type=submit] {
        width: 20%;
        background-color: #0069D9;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .chat-board {
        min-height: 84vh;
    }

    input[type=submit]:hover {
        background-color: #0069E9;
    }
</style>